.editor {
  display: flex;
  flex-direction: space-between;
}
.codeinput {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.textareacode {
  font-size: 25px;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.rendu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
.textarerendu {
  font-size: 25px;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
