footer {
  display: grid;
  grid-template-columns: 4fr 80px 80px;
  place-items: center;
  height: 10vh;
  background-color: var(--primary-color);
  border-top: 1px solid var(--third-color);
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.05);

  p {
    margin: 0;
    color: var(--second-color);
  }

  img {
    width: 3rem;
  }
}

@media (min-width: 992px) {
  footer {
    height: unset;
    padding: 16px;
    width: calc(100vw - 260px);
    margin-left: 260px;

    p {
      font-size: 1.5rem;
      padding: 0 0 0 230px;
    }
  }
}
