.coming-soon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  gap: 2rem;
  min-height: 80vh;
  background-color: var(--primary-color);
  color: var(--second-color);

  h1 {
    font-size: 2rem;
    text-align: center;
  }

  img {
    width: 100px;
  }

  p {
    font-size: 1.2rem;
  }

  a {
    border-radius: 2rem;
    color: var(--second-color);
    padding: 16px 32px;
    border: 2px solid var(--second-color);
    cursor: pointer;
  }

  a:hover {
    background-color: var(--third-color);
  }
}

@media screen and (min-width: 1200px) {
  .coming-soon {
    min-height: calc(100vh - 70px - 85px);
  }
}
