.coming-soon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
  gap: 2rem;

  h1 {
    font-size: 32px;
    text-align: center;
  }

  img {
    width: 100px;
  }

  p {
    font-size: 20px;
    font-weight: 500;
  }

  button {
    height: 2rem;
    width: 8rem;
    border-radius: 2rem;
    background-color: #f9f9f9;
  }

  button:hover {
    background-color: #b1ababde;
    cursor: pointer;
  }
}
