header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  height: 10vh;
  border-bottom: 1px solid var(--third-color);
  background-color: var(--primary-color);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

  img {
    height: 50px;
    background: white;
    border-radius: 50%;
    padding: 4px;
  }

  h2 {
    margin: 0;
    justify-self: self-start;
    font-size: 2rem;
    font-family: var(--title-font);
    color: var(--second-color);
  }

  button {
    background: transparent;
    border: none;
    width: 32px;
    height: 32px;
    padding: 0;
    cursor: pointer;

    span,
    span::after,
    span::before {
      height: 4px;
      width: 32px;
      border-radius: 4px;
    }

    span {
      position: relative;
      margin-right: 4px;
      display: inline-block;
      background-color: var(--second-color);
    }

    span::before,
    span::after {
      content: "";
      position: absolute;
      left: 0;
      background-color: var(--second-color);
    }

    span::before {
      transform: translateY(-14px);
    }

    span::after {
      transform: translateY(14px);
    }
    .show-nav span {
      background: transparent;
    }

    .show-nav span::before {
      transform: rotate(45deg);
    }

    .show-nav span::after {
      transform: rotate(-45deg);
    }
  }
}

@media screen and (min-width: 1200px) {
  header {
    justify-content: center;
    height: 70px;
    width: calc(100vw - 260px);
    margin-left: 260px;

    img {
      display: none;
    }
    button {
      display: none;
    }
  }
}
