.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  gap: 32px;
  background-color: var(--primary-color);

  h1 {
    font-size: 32px;
    text-align: center;
  }

  img {
    width: 100px;
  }

  a {
    border-radius: 2rem;
    color: var(--second-color);
    padding: 16px 32px;
    border: 2px solid var(--second-color);
    cursor: pointer;
  }
  a:hover {
    background-color: var(--third-color);
  }

  iframe {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 500px;
    border: solid #000000 2px;
    border-radius: 4px;
    overflow: hidden;
  }
}

@media screen and (min-width: 1200px) {
  .error-page {
    margin-left: 260px;
    min-height: calc(100vh - 70px - 85px);
  }
}
